* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    font-family: "Lato", sans-serif;
}


img {
    width: 100%;
    height: auto;
    line-height: 0px;
}


.container {
    width: 960px;
    margin: 0 auto;

}

/* header*/

.header {
    background: url("image/parallax1.jpg");
    width: 100%;
    background-size: cover;
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.75;
}

.header-title {
    background-color: #000;
    display: inline-block;
    padding: 12px 24px !important;
    color: #fff;
    left: 0px;
    position: absolute;
    left: 35%;
    top: 180px;
    letter-spacing: 10px;
    font-size: 26px;

}

.about {
    text-align: center;
    color: #777;
    margin-bottom: 50px;

}

.about-title {
    padding: 95px 0px 20px 0px;
    font-size: 24px;

}


.about-sub-title {
    padding: 10px 0px 20px 0px;
    font-size: 15px;
    font-style: italic;


}

.about-text {
    text-align: justify;
    margin-top: 20px;

}

/* left area*/
.pofile {}

.pofile-left {
    float: left;
    width: 45%;
    text-align: center;
    color: #777;

}



.profile-title-left {

    margin-bottom: 40px;
    padding: 10px;

}

.fas fa-user {}

.profile-text-right {
    float: right;
    width: 45%;
    text-align: justify;
    color: #777;

}

.counter-area {
    clear: both;
    background-color: #616161;
    width: 100%;
    height: 130px;
    margin-top: 55px;
}

.counter-area-title {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 34px;
    color: #fff;
    font-size: 20px;

}

.portfolio {
    background: url("image/parallax2.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;



}

.portfolio-image-heading {
    text-align: center;
    padding: 221px;
    color: #fff;
    letter-spacing: 10px;
    font-size: 36px;

}

.work-title-heading {
    text-align: center;
    color: #777;
    margin-top: 70px;


}

.Work-title-text {
    text-align: center;
    color: #777;
    font-family: 'Lato', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}

.skill {
    clear: both;

}

.skill-title {
    text-align: center;
    color: #777;
    margin-top: 450px;
    font-size: 18px;
}

.skill-name {
    margin-top: 15px;
    color: #777;
    letter-spacing: 10px;


}


progress {
    -webkit-appearance: progress-bar;
    width: 100%;
    height: 30px;
}

progress[value] {
    -webkit-appearance: none;
}


progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}


progress[value]::-webkit-progress-value {
    background-color: #616161;
}


.image-set {
    height: 162px;
    float: left;
    width: 25%;
    cursor: pointer;
    padding: 5px;


}

.button {
    margin-bottom: 80px;
    text-align: center;
    margin-top: 66px;
    padding: 20px;
    margin-left: 43%;
    border: none;
}

.contact-image-hero {
    background: url("image/parallax3.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.75;
    margin-bottom: 80px;

}

.contact-headind {
    color: #fff;
    font-size: 35px;
    position: absolute;
    left: 42.5%;
    margin-top: 193px;
    letter-spacing: 10px;


}

.contact-header {
    text-align: center;
    color: #777;


}

.contact-text {
    text-align: center;
    color: #777;
}

.contact-image-left {

    float: left;
    width: 33%;
    margin-top: 20px;
    margin-bottom: 100px;


}

.contact-right {
    margin-top: 15px;
    color: #777;
    float: left;
    margin-left: 50px;



}

.dd {
    clear: both;
}


input[type="text"],
input[type="email"] {
    height: 30px;
    padding: 5px;
    width: 49%;
    margin: 10px 0px;
    clear: both;
}

textarea {
    width: 98%;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background: palevioletred;
    display: block;
    margin-bottom: 30px;
}









.footer-main {
    position: relative;
    clear: both;
    height: 200px;
    background-color: black;
    color: #fff;
    height: 223px;

}

.footer-link {
    text-align: center;
    padding: 90px;
    font-size: 25px;
    cursor: pointer;

}

.footer-text {
    text-align: center;
    margin-top: -70px;
}


.xx {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background: #444;
    color: #fff;
    text-decoration: none;
}